name: "Check Workflow"

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm ci
      - run: npm run lint

  test-action:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - job-id:     since-v520
            name:       "Since v5.20"
            since-perl: "v5.20"
            expected:   '["5.20","5.22","5.24","5.26","5.28","5.30","5.32","5.34","5.36","5.38","5.40","5.42"]'

          - job-id:     since-520
            name:       "Since 5.20"
            since-perl: "5.20"
            expected:   '["5.20","5.22","5.24","5.26","5.28","5.30","5.32","5.34","5.36","5.38","5.40","5.42"]'

          - job-id:     since-536-with-devel
            name:       "Since 5.36 with devel"
            since-perl: "5.36"
            with-devel: "true"
            expected:   '["5.36","5.38","5.40","5.42","devel"]'

          - job-id:     since-524-to-532
            name:       "Since 5.24 until 5.32"
            since-perl: "5.24"
            until-perl: "5.32"
            expected:   '["5.24","5.26","5.28","5.30","5.32"]'

          - job-id:     with-devel-and-until
            name:       "With devel and until-perl"
            since-perl: "5.36"
            until-perl: "5.40"
            with-devel: "true"
            expected:   '["5.36","5.38","5.40","devel"]'

          - job-id:     single-version
            name:       "Single version"
            since-perl: "5.32"
            until-perl: "5.32"
            expected:   '["5.32"]'

          - job-id:     oldest-supported
            name:       "Oldest supported version is 5.8"
            since-perl: "5.6"
            until-perl: "5.14"
            expected:   '["5.8","5.10","5.12","5.14"]'

    steps:
      - uses: actions/checkout@v4

      - name: "Call action - ${{ matrix.name }}"
        id: call-action
        uses: ./
        with:
          since-perl: ${{ matrix.since-perl }}
          until-perl: ${{ matrix.until-perl || null }}
          with-devel: ${{ matrix.with-devel || null }}

      - name: Validate output - ${{ matrix.name }}
        uses: prompt/actions-assert@v4
        with:
          assertion: npm://@assertions/is-equal:v1
          actual:    ${{ steps.call-action.outputs.perl-versions }}
          expected:  ${{ matrix.expected }}
